<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="eManEx" connectionString="Data Source=160.7.241.22;Initial Catalog=MANEX;User Id=ccAdmin;Password=KIeoiZ018gpob4xqTlxU;"/>
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CompanyName" value="Company Name"/>
    <add key="PasswordExpireInterval" value="60"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="2880" />
    </authentication>

    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add name="CustomizedRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="eManEx"
             applicationName="Manex"/>
      </providers>
    </roleManager>
    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomizedMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="eManEx"
             maxInvalidPasswordAttempts="10"
             minRequiredPasswordLength="5"
             minRequiredNonalphanumericCharacters="0"
             requiresQuestionAndAnswer="false"
             enablePasswordRetrieval="true"
             passwordFormat="Encrypted"
             applicationName="Manex"/>
      </providers>
    </membership>
    <machineKey
      validationKey="010178756C7EB29C79345B4D415161CD68786459B394692869AAF7CDA4F84F0E6EA876070B33E638A5B6B179F6BCB8A9ED2EA1F9E96F879AC27596D6731D35BB"
      decryptionKey="84E7D1312BE976FC6A82D0E147BA7D42E67A26EAB9127D2F7EB3AF13FF94CA74"
      validation="SHA1"
      decryption="AES"/>
    <profile defaultProvider="TableProfileProvider">
      <providers>
        <clear/>
        <add name="TableProfileProvider"
          type="Microsoft.Samples.SqlTableProfileProvider"
          connectionStringName="eManEx"
          table="aspnet_Profile"
          applicationName="Manex"/>

      </providers>
      <properties>
        <add name="FirstName" type="string" defaultValue="" customProviderData="FirstName;varchar"   />
        <add name="LastName" type="string" defaultValue="" customProviderData="LastName;varchar"  />
        <add name="Initials" type="string" defaultValue="" customProviderData="Initials;varchar"  />
        <add name="LicenseType" type="string" defaultValue="" customProviderData="LicenseType;varchar"  />
        <add name="Exempt" type="bool" defaultValue="" customProviderData="exempt;bit"  />
        <add name="External" type="bool" defaultValue="" customProviderData="externalEmp;bit"  />
        <add name="ProdAdmin" type="bool" defaultValue="" customProviderData="ProdAdmin;bit"  />
        <add name="AcctAdmin" type="bool" defaultValue="" customProviderData="AcctAdmin;bit"  />
        <add name="CompanyAdmin" type="bool" defaultValue="" customProviderData="CompanyAdmin;bit"  />
        <add name="PwExpireInterval" type="string" defaultValue="" customProviderData="NPASSWORDEXPIN;int"   />
        <add name="MinuteLimit" type="string" defaultValue="" customProviderData="minuteLimit;int"   />
        <add name="CantChangePw" type="bool" defaultValue="" customProviderData="LCANNOTCHPASSWORD;bit"  />
      </properties>
    </profile>

    <!--<roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
