@model site.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

@*@Helpers.SideMenu.SMC(this.Model.SideMenuContent)*@
<div id="navMenu">
</div>
    
<div id="content">   
    <button class="blue">Clean Gray</button>
</div>